---
apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: kccnc-chicago
  region: us-east-2

managedNodeGroups:
  - name: ng-3
    instanceType: m5.large
    desiredCapacity: 1
    iam:
      withAddonPolicies:
        autoScaler: true
    # tags:
    #   k8s.io/cluster-autoscaler/enabled: true
    #   k8s.io/cluster-autoscaler/kccnc-chicago: owned
  - name: ng-4
    instanceType: m6g.large
    desiredCapacity: 1
    iam:
      withAddonPolicies:
        autoScaler: true
    # tags:
    #   k8s.io/cluster-autoscaler/enabled: true
    #   k8s.io/cluster-autoscaler/kccnc-chicago: owned

# nodeGroups:
#   - name: ng-1
#     instanceType: m5.large
#     desiredCapacity: 1
#     iam:
#       withAddonPolicies:
#         autoScaler: true
#   - name: ng-2
#     instanceType: m6g.large
#     desiredCapacity: 1
#     iam:
#       withAddonPolicies:
#         autoScaler: true

gitops:
  flux:
    gitProvider: github             # required. options are github or gitlab
    flags:                          # required. arbitrary map[string]string for all flux args.
    # these args are not controlled by eksctl. see https://fluxcd.io/docs/get-started/ for all available flags
      owner: "kingdon-ci"
      repository: "fleet-infra"
      private: "false"
      branch: "main"
      namespace: "flux-system"
      path: "clusters/kccnc-chicago"
      # team: "team1,team2"
